*{
    margin: 0;
    padding: 0;
    background-color: #f9fbfd;
}
nav{
    display: flex;
    width: 100vw;
    height: 40px;
    padding-top: 20px;
    justify-content:left;
    gap: 20px;
    padding-left: 50px;
    background-color: green;
}
nav > a{
    background-color: transparent;
    color: wheat;
    text-decoration: none;
    font-family: popins;
    size: 700;
    font-size: 30px;
}
#home{
    background-color: white;
    color: green;

}
#activate-id{
    width: 100px;
    height: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 25px;
    position: relative;
    top: 0;
}
main{
    width: 100vw;
    height: 100vh;
    margin: auto;
    overflow: scroll;
}
#grid-header{
    display: flex;
    position: sticky;
    top: 0;
    z-index: 100;
}
#body{
    width: fit-content;
}
#grid-header :first-child{
    min-width: 50px;
}
#grid-header > b{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    border: 1px solid #c0c0c0;
}
#body > div{
    display: flex;
}
#body > div :first-child{
    display: flex;
    min-width: 50px;
    justify-content: center;
    border: 1px solid #c0c0c0;
    position: sticky;
    left: 0;
}
#body > div > div{
   min-width: 100px;
   border: 1px solid #c0c0c0;
}